pkgbase = muzon
	pkgdesc = Local music player built with Tauri and GStreamer
	pkgver = 1.4.0
	pkgrel = 1
	url = https://github.com/nxvxrloseee/muzon
	arch = x86_64
	license = GPL3
	makedepends = rust
	makedepends = cargo
	makedepends = nodejs
	makedepends = npm
	depends = webkit2gtk-4.1
	depends = gtk3
	depends = gstreamer
	depends = gst-plugins-base
	depends = gst-plugins-good
	depends = gst-plugins-bad
	depends = gst-plugins-ugly
	depends = gst-libav
	source = muzon-1.4.0.tar.gz::https://github.com/nxvxrloseee/muzon/archive/v1.4.0.tar.gz
	source = muzon.desktop
	sha256sums = b4da97b9db68e12f3ed9d0ac3a461a12d084692b399a474817735b93a787725a
	sha256sums = 1aa81d0d072346d9dd30516ec3e802d90da12a737cd55fc5bec2e2a24a2a3738

pkgname = muzon
