pkgbase = muzon
	pkgdesc = Local music player built with Tauri and GStreamer
	pkgver = 1.7.0
	pkgrel = 1
	url = https://github.com/nxvxrloseee/muzon
	arch = x86_64
	license = GPL3
	makedepends = rust
	makedepends = cargo
	makedepends = nodejs
	makedepends = npm
	depends = webkit2gtk-4.1
	depends = gtk3
	depends = gstreamer
	depends = gst-plugins-base
	depends = gst-plugins-good
	depends = gst-plugins-bad
	depends = gst-plugins-ugly
	depends = gst-libav
	depends = libsecret
	depends = libayatana-appindicator
	source = muzon-1.7.0.tar.gz::https://github.com/nxvxrloseee/muzon/archive/v1.7.0.tar.gz
	source = muzon.desktop
	sha256sums = 747131e95b38c1fec0531723d411444a9c5c976066d0f0bf0a31a0e03aee255e
	sha256sums = 1aa81d0d072346d9dd30516ec3e802d90da12a737cd55fc5bec2e2a24a2a3738

pkgname = muzon
