[Desktop Entry]
Name=Muzon
Comment=Local music player
Exec=muzon
Icon=muzon
Terminal=false
Type=Application
Categories=Audio;Music;Player;AudioVideo;
